{{ $currentlang := .Site.Language.Lang }}

{{ $urlPre := "https://api.github.com" }}
{{ $releaseJ := getJSON $urlPre "/repos/leezer3/OpenBVE/releases" }}
{{ range first 1 (where $releaseJ ".prerelease" false) }}
  {{ $latestversion := .tag_name }}

  {{ if eq $currentlang "ca" }}
  <p><i>Assegureu-vos sempre que teniu la versió més recent ({{ print $latestversion }}) de l'OpenBVE, disponible al <a href="http://www.openbve-project.net" target="_blank">lloc web oficial</a> del simulador, i instal·leu el fitxer OBP des del Gestor de paquets.</i></p>
  {{ else if eq $currentlang "es" }}
  <p><i>Asegúrate siempre de que tienes la versión más reciente ({{ print $latestversion }}) de OpenBVE, disponible en el <a href="http://www.openbve-project.net" target="_blank">sitio web oficial</a> del simulador, e instala el archivo OBP desde el Gestor de paquetes.</i></p>
  {{ else }}
  <p><i>Always make sure you have the latest ({{ print $latestversion }}) OpenBVE version, available at the simulator's <a href="http://www.openbve-project.net" target="_blank">official website</a>, and install the OBP file from the Package Manager.</i></p>
  {{ end }}

{{ end }}
